body {
  text-align: center;
  background-color: honeydew;
}

table {
  table-layout: fixed;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.banner {
  width: 200px;
  border: 3px solid black;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  font-size: 30px;
  background-color: gray;
  position: relative;
  margin-bottom: 6px;
}

.life {
  margin-top: 7px;
  margin-left: 4px;
  border: 3px solid black;
  padding: 3px;
  background-color: gray;
}

.clue {
  margin-top: 7px;
  margin-left: 4px;
  border: 3px solid black;
  padding: 3px;
  background-color: gray;
}

table,
th,
td {
  border: 1px solid black;
  color: gray;
}

.scores {
  border: 1px solid black;
}

td {
  padding: 13px;
}

.cell-hidden {
  background-color: grey;
}
